---
layout: default
title: Blog Posts
---

<div class="Home">
  <div class="Home-posts">
    <h2 class="Home-posts-title">Blog Posts</h2>
    {% assign local_posts = site.posts | where: "city", site.data.settings.city_key %}
    {% assign blog_posts = local_posts | where: "type", "blog" %}
    {% if blog_posts.size > 0 %}
      {% for post in blog_posts %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.date | date_to_string }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endfor %}
    {% else %}
      <p>No Tokyo blog posts have been published yet.</p>
    {% endif %}
  </div>
</div>
