---
layout: default
title: Meetings
---

<div class="Home">
  {% assign local_posts = site.posts | where: "city", site.data.settings.city_key %}
  {% assign socratic_posts = local_posts | where: "type", "socratic" %}
  {% assign ethereum_socratic_posts = local_posts | where: "type", "ethereum_socratic" %}

  <div class="Home-posts">
    <h2 class="Home-posts-title">Socratic Seminars</h2>
    {% if socratic_posts.size > 0 %}
      {% for post in socratic_posts %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.date | date_to_string }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endfor %}
    {% else %}
      <p>No Tokyo Socratic Seminars are currently listed.</p>
    {% endif %}

    {% if ethereum_socratic_posts.size > 0 %}
      <h4 class="Home-posts-subtitle">Ethereum Socratic Seminars</h4>
      {% for post in ethereum_socratic_posts %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.date | date_to_string }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
